<div class="text-center">
	<h2>
		<em>О нас!</em>
	</h2>
	<div class="lead">
		<p>Добро пожаловать на сайт Книга Рецептов! Пусть он станет для Вас кулинарной палочкой-выручалочкой!</p>
		<p>Здесь вы можете просматривать рецепты, добавленные другими пользователями и добавлять новые рецепты.</p>
		<p>Готовьте с удовольствием и радуйте себя и своих близких новыми вкусными экспериментами!</p>
		<p>Приятного аппетита!</p>
	</div>
</div>
<summary-recipes></summary-recipes>