<footer>
	<div class="container-fluid div-color">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" style="padding: 5px 20px 0px 40px">
				<p>&copy; "Книга рецептов", 2017
					<br>Все права защищены
				</p>
			</div>
			<div class="col-md-2 col-md-offset-7 col-sm-3 col-sm-offset-5 col-xs-4 col-xs-offset-2">
				<p>
					<br><a routerLink="/book-of-recipes">Книга рецептов</a>
				</p>
			</div>
		</div>
	</div>
</footer>