<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-3">
				<img src='/images/logo.png' class='img-responsive'>
			</div>
			<div class="col-md-8 col-sm-7 col-xs-7">
				<h1 class="text-center">Книга рецептов</h1>
			</div>
		</div>
	</div>
</header>