<div class="container-fluid div-color" style='padding: 7px'>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-3 text-center">
			<a routerLink="/book-of-recipes" class="btn btn-default active">На главную</a>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-5 dropdown text-center" style="display: block">
			<div class="btn-group">
				<button class="btn btn-default">Категории блюд</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown"> 
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Все категории</a>
					</li>
					<li class="divider"></li>
					<li *ngFor="let category of categories"><a href="#">{{category}}</a></li>
				</ul>		
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 text-center">
			<a href="#" class="btn btn-default">Добавить рецепт</a>
		</div>
	</div>
</div>