<div *ngIf="recipe">
	<h2 class="text-center"><em>{{recipe.name}}</em></h2>
	<p class="text-center">Оценка</p>
	<div class="container-fluid">
		<div class="row" style="margin: 20px 0px">
			<div class="col-md-offset-3 col-md-2 col-sm-offset-2 col-sm-3 col-xs-offset-1 col-xs-4">
				<img src="{{recipe.imgSrc}}" class="img-responsive">
			</div>
			<div class="col-md-7 col-sm-6 col-xs-6 text-left">
				<p class="lead">Время приготовления {{recipe.hours}} ч {{recipe.minutes}} мин</p>
				<p class="lead">Категория:
					<a href="#">{{recipe.category}}</a>
				</p>
				<p class="lead">Сложность: {{recipe.complexity}}</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-3 col-md-9 col-sm-offset-2 col-sm-10 col-xs-offset-1 col-xs-11">
				<h3><u>Ингредиенты:</u></h3>
				<div class="row" *ngFor = "let ingredient of recipe.ingredients; let i=index">
					<div class="col-md-2 col-sm-3 col-xs-3 pull-left"><h4><em>{{ingredient}}</em></h4></div>
					<div class="col-md-1 col-sm-2 col-xs-2">-</div>
					<div class="col-md-9 col-sm-7 col-xs-7"><h4>{{recipe.quantityOfIngredient[i]}}</h4></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-3 col-md-9 col-sm-offset-2 col-sm-10 col-xs-offset-1 col-xs-11">
				<h3><u>Приготовление:</u></h3>
				<div class="row" *ngFor = "let step of recipe.cooking; let i=index">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h4>{{i+1}}) {{step}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>