<div class="container-fluid">
	<div class="row" >
		<div class="col-md-4 col-sm-6 col-xs-12" style="padding: 20px" *ngFor = "let recipe of recipes">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-5">
					<img src="{{recipe.imgSrc}}" class="img-responsive">
				</div>
				<div class="col-md-7 col-sm-7 col-xs-7 no-padding">
					<p>
						<a [routerLink]="['/book-of-recipes/recipe', recipe.id]">{{recipe.name}}</a>
					</p>
					<p>Оценка</p>
					<p>Время приготовления: {{recipe.hours}} ч {{recipe.minutes}} мин</p>
					<p>Категория:
						<a href="#">{{recipe.category}}</a>
					</p>
					<p>Ингредиенты:
						{{recipe.ingredients}}
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>